@use '../../assets/sass/box-model' as box;
@use '../../assets/sass/colors';
@use '../../assets/sass/animations';

.cart {
  @include box.padding-block-standard;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 100vh;
  z-index: 2;
  background: colors.$black-transparent-dark-extra;

  &__title {
    @include box.padding-block-standard;
    font-size: box.$gap-large-extra-2;
  }

  &__btn_close {
    position: absolute;
    top: box.$gap-large;
    right: box.$gap-large;
    font-weight: bold;
    font-size: box.$gap-large;
  }

  &__counter {
    display: flex;
    align-items: flex-end;
    gap: box.$gap-small;
    padding: box.$gap-small box.$gap-large;
    font-size: box.$gap-large;
  }

  &__counter-number {
    color: colors.$accent;
    font-size: 2rem;
    font-weight: bold;
    transform: translateY(2px);
  }

  &__items {
    @include box.padding-inline-standard-2;
    display: flex;
    flex-wrap: wrap;
    gap: box.$gap-large;
  }

  &-item {
    position: relative;
    display: flex;
    width: 30%;
    min-width: 400px;
    max-width: 440px;
    background: colors.$accent;
    color: colors.$black;
    border-radius: box.$border-radius-standard;
    border: box.$border-large-accent;
    cursor: pointer;

    &__btn-icon {
      width: 30px;
    }

    &__btn {
      border-radius: box.$border-radius-standard;

      &:hover {
        background-color: colors.$white;
      }

      &_delete {
        padding: 0 3px;
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    &__img {
      max-width: 200px;
      max-height: 160px;
      border-radius: box.$border-radius-standard;
    }

    &__props {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: box.$gap-standard;
      gap: box.$gap-small;
    }

    &__props-wrapper {
      display: flex;
      gap: box.$gap-small;
    }

    &__brand {
      font-weight: bold;
      color: colors.$white;
    }
  }
}