@use '../../assets/sass/box-model' as box;
@use '../../assets/sass/colors';
@use '../../assets/sass/animations';

.cart {
  overscroll-behavior: contain;
  @include box.padding-block-standard;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  background: colors.$black-transparent-dark-extra;
  overflow-y: scroll;

  &__title {
    @include box.padding-block-standard;
    font-size: box.$gap-large-extra-2;
  }

  &__btn {
    &_close {
      position: absolute;
      top: box.$gap-large;
      right: box.$gap-large;
      font-weight: bold;
      font-size: box.$gap-large;
    }

    &_checkout {
      font-size: 1.2rem;
      padding: 1rem 1.5rem;
      margin-top: box.$gap-large-extra-2;
    }
  }

  &__counter {
    display: flex;
    align-items: flex-end;
    gap: box.$gap-small;
    padding: box.$gap-small box.$gap-large;
    font-size: box.$gap-large;
  }

  &__counter-number {
    color: colors.$accent;
    font-size: 2rem;
    font-weight: bold;
    transform: translateY(2px);
  }

  &__wrapper_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
  }

  &-checkout {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: box.$gap-large-extra-2;

    padding: box.$gap-large-extra-2;
    background: colors.$black-transparent-dark-extra;

    &__text {
      width: 90%;
      max-width: 423px;
    }
  }

  &__items {
    @include box.padding-inline-standard-2;
    display: flex;
    flex-wrap: wrap;
    gap: box.$gap-large-extra-2;
  }

  &-item {
    position: relative;
    display: flex;
    width: 30%;
    min-width: 400px;
    max-width: 440px;
    background: colors.$gray;
    color: colors.$black;
    border-radius: box.$border-radius-standard;
    border: 5px solid colors.$gray;
    cursor: pointer;

    &__quantity-wrapper {
      margin-top: box.$gap-small-extra;
      display: flex;
      align-items: center;
      gap: box.$gap-small;
    }

    &__btn-icon {
      width: 30px;
    }

    &__btn {
      border-radius: box.$border-radius-standard;
      background-color: colors.$gray;

      &:hover {
        background-color: colors.$white;
      }

      &_delete {
        padding: 0 3px;
        position: absolute;
        right: 0;
        top: 0;
      }

      &_add,
      &_remove {
        background-color: colors.$accent-transparent;
        padding: 0 box.$gap-small;
      }
    }

    &__img {
      width: 220px;
      height: 170px;
      border-radius: box.$border-radius-standard;
      object-fit: cover;
    }

    &__props {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: box.$gap-standard;
      gap: box.$gap-small;
    }

    &__props-wrapper {
      display: flex;
      gap: box.$gap-small;
    }

    &__brand {
      z-index: 0;
      font-weight: bold;
      color: colors.$accent;
    }
  }

  @media screen and (max-width: 600px) {
    &__title {
      padding: 0 0 0 box.$gap-standard;
    }

    &__btn_close {
      padding: 0 10px;
    }

    &__counter {
      gap: box.$gap-small;
      padding: box.$gap-small box.$gap-standard;
      margin-top: box.$gap-standard;
    }
  }

  @media screen and (max-width: 490px) {
    &__items {
      justify-content: center;
    }

    &-item {
      flex-direction: column;
      width: auto;
      max-width: available;
      min-width: auto;
      &__btn {
        &_delete {
          padding: 0 3px;
          position: absolute;
          right: -4px;
          top: -4px;
        }
      }
      &__quantity-wrapper {
        align-self: center;
      }
    }
  }

  @media screen and (max-width: 450px) {
    &__counter {
      font-size: 1.3rem;
    }
  }
}