@use '../../assets/sass/box-model' as box;
@use '../../assets/sass/colors';
@use '../../assets/sass/animations';

.header {
  @include box.padding-inline-standard;
  display: flex;
  align-items: center;
  border-bottom: box.$border-small-accent;
  background-color: colors.$black-transparent;

  &__link {
    cursor: pointer;
    width: 3.5rem;
    transition: transform animations.$transition-fast;

    &:hover,
    &:active {
      @include animations.scale-small;
    }
  }
  &__icon {
    width: 100%;
  }
  &__btn_translate {
    display: flex;
    align-items: center;
    margin-left: box.$gap-standard;
    margin-right: box.$gap-small;
    width: 45px;
    padding: 1px;
    border: none;
    border-radius: box.$border-radius-standard;
    background: colors.$white;
    transition: transform animations.$transition-fast;
    &:hover {
      @include animations.rotate-180;
    }
  }
  &__link_cart {
    position: relative;
    margin-left: auto;
    transition: animations.$transition-medium;
    
    &:hover {
      @include animations.ride-left;
    }
  }
  &__cart-count {
    position: absolute;
    top: 0.5rem;
    left: -0.7rem;

    padding: 0 box.$gap-small;
    font-weight: bold;

    color: colors.$black;
    background-color: colors.$white;
    border: box.$border-small-accent;
    border-radius: box.$border-radius-standard;
  }

  &__title-wrapper {
    @include box.padding-inline-standard;
    display: flex;
    flex-flow: column wrap;
  }

  @media only screen and (max-width: 600px) {
    &__title {
      font-size: 1.5rem;
    }

    &__subtitle {
      font-size: 0.8rem;
    }

    &__cart-count {
      font-size: 0.7rem;
      top: 0.2rem;
      left: -0.6rem;
      padding: 0 3px;
    }

    &__btn_translate {
      width: 44px;
    }
  }

  @media only screen and (max-width: 550px) {
    &__link {
      width: 2.5rem;
    }

    &__link_logo {
      display: none;
    }

    &__cart-count {
      font-size: 0.7rem;
      top: 0.2rem;
      left: -0.6rem;

      padding: 0 3px;
      font-weight: bold;
    }

    &__btn_translate {
      width: 36px;
    }
  }

  @media only screen and (max-width: 450px) {
    &, &__title-wrapper {
      padding-left: box.$gap-small;
    }

    &__title {
      font-size: 1.2rem;
    }

    &__link_logo {
      display: block;
    }

    &__subtitle {
      display: none;
    }
  }

  @media only screen and (max-width: 360px) {
    &__link_logo {
      display: none;
    }
  }
}


