@use '../../assets/sass/box-model' as box;
@use '../../assets/sass/colors';
@use '../../assets/sass/animations';

.footer {
  @include box.padding-inline-standard-2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: box.$gap-large-extra;
  
  border-top: box.$border-small-accent;
  background-color: colors.$black-transparent;

  &__link {
    padding: 6px 7px;
    background: colors.$gray-light;
    transition: animations.$transition-fast;
    border-radius: box.$border-radius-standard;

    &:hover,
    &:focus {
      @include animations.background-accent;
    }
  }

  &__year {
    font-size: 2rem;
  }

  &__icon {
    width: 30px;
  }

  @media only screen and (max-width: 370px) {
    flex-direction: column;
    gap: box.$gap-small;

    &__link {
      padding-left: 0;
    }
  }
}