@use '../../assets/sass/box-model' as box;
@use '../../assets/sass/colors';

.message {
  &__container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 7rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__wrapper {
    color: colors.$black;
    background-color: colors.$white;
    border: box.$border-standard-black;
    border-radius: box.$border-radius-standard;
  }

  &__title {
    @include box.padding-inline-standard;
    background-color: colors.$black;
    margin-bottom: box.$gap-small-extra;
    font-weight: bold;
    color: colors.$accent;
  }

  &__text {
    @include box.padding-inline-standard;
    font-size: 1.5rem;
  }
}