$white: #fff;

$gray: #686868;
$gray-light: #d6d6d6;

$black: #000;
$black-transparent: #0004;
$black-transparent-dark: #000a;
$black-transparent-dark-extra: #000d;

$blue: #27f;

$accent: #3ebdb3;
$accent-transparent: #3EBDB3A0;
